.names {
  display: flex;
  flex-direction: row;
  font-size: 1.1em;
  line-height: 0.6em;
  margin-top: 0em;
  margin-bottom: 2em;
}
.nameBox {
  margin: 0em 0.4em 2.1em 0.4em;
}
.nameText {
  text-transform: uppercase;
}

@media only screen and (max-width: 810px) {
  .names {
    flex-direction: column;
  }
  .nameBox {
    margin: 0;
  }
}
