.names {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  font-size: 1em;
  line-height: 0.6em;
  margin-top: 0em;
}
.nameBox {
  width: 280px;
  align-self: center;
}
.nameText {
  text-transform: uppercase;
}

@media only screen and (max-width: 840px) {
  .names {
    flex-direction: column;
  }
  .nameBox {
    margin: 0;
  }
}
