.container {
  display: flex;
  justify-content: space-between;
}
.desktop {
  display: block;
}
.mobile {
  display: none;
}
.forgetMeNot {
  padding: 1em;
  text-transform: uppercase;
}
.nav {
  text-transform: uppercase;
  list-style-type: none;
  width: auto;
  display: flex;
}
.link {
  padding: 0 1em;
}
.link > a {
  color: #171924;
}
@media only screen and (max-width: 600px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
}
