html {
  text-align: center;
  min-height: 100%;
}
body {
  margin: 0 auto;
}
main {
  flex: 1;
  align-self: center;
  max-width: 800px;
}
footer {
  font-size: 0.9em;
  text-transform: uppercase;
  height: 2em;
}
h1 {
  font-size: 3.5em;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 1.2em;
}
h1::selection {
  color: #ACEBAA;
  background: #E9AAEB;
}
h2 {
  font-size: 1.4em;
  font-weight: 400;
  margin-bottom: 1.2em;
  text-transform: uppercase;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a[href^="tel:"] {
  color: #171924;
}
.names {
  font-size: 1.1em;
  line-height: 0.6em;
  margin-top: 2em;
  margin-bottom: 5em;
}
.nameBox {
  margin: 1em 0 2.2em 0;
}
.nameText {
  text-transform: uppercase;
}
::selection {
  color: #aacdeb;
  background: #171924;
}
